a#ld-focus-mode-course-heading {
    pointer-events: none;
}
	
.ld-focus .ld-focus-header .ld-user-menu .ld-user-menu-items a:first-of-type {
    display: none;
}

.ld-focus-content {
    max-width: 1000px !important;
    padding-top: 70px !important;
}

.ld-status-icon {
    width: 20px !important;
    height: 20px !important;
    flex: 0 0 20px !important;
}

.ld-alert.ld-alert-success.ld-alert-certificate {
    display: none !important;
}

.ld-focus .ld-focus-header .ld-user-menu .ld-user-menu-items a:last-of-type {
    font-weight: bold;
}

a.ld-focus-menu-link {
    font-weight: bold !important;
    border-radius: 5px 0px !important;
}

span.ld-lesson-section-heading {
    text-transform: uppercase;
}

.ld-alert-messages {
    color: #585647;
    font-weight: 600;
}

.ld-focus .ld-focus-header .ld-user-menu .ld-user-menu-items {
    top: 105% !important;
}

.site-header {
    display: none;
}
.site-footer {
    display: none;
}

.error404 #page {
    display: none;
}

/*learndash course page code*/
.ld-course-status.ld-course-status-enrolled {
    display: none !important;
}
.ld-item-list.ld-lesson-list {
    display: none !important;
}
.ld-course-status {
    display: none !important;
}

span.ld-expand-button.ld-button-alternate.ld-expanded {
    display: none;
}

.learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content h1 {
    font-size: 24px;
    font-weight: 600;
    color: #3d3d3d;
}

/* Customise Mark as complete button
 */

.learndash-wrapper .ld-focus .ld-focus-header .sfwd-mark-complete:after {
	 margin-right: 10%;
	color: white !important;
}

.learndash-wrapper .ld-focus .ld-focus-header .ld-content-action .sfwd-mark-complete input[type=submit] {
    height: 51px;
    border-radius: 0;
    background: #019e7c !important;
    color: white !important;
    font-size: 95%;
    font-weight: 700;
    transition: .15s all ease;
}

.learndash-wrapper .ld-focus .ld-focus-header .ld-content-action .sfwd-mark-complete input[type=submit]:hover {
    background: #077059 !important;
    opacity: 1;
}

.normal {
    background: #fff;
    border: #27aee178;
    border-style: solid;
}

.dialog-box-content {
    font-weight: 500;
    white-space: normal;
    text-align: center;
}

@media (max-width: 768px) {
section#btn-dialogBox {
    width: 90% !important;
    margin-left: -170px !important;
}
}
/* Removing extra p tag from quiz
 */
p.wpProQuiz_clear {
    display: none !important;
}


@media not screen and (max-width: 768px)
{
span.ld-profile-avatar {
    margin-left: auto !important;
}
span.ld-text.ld-user-welcome-text {
    margin-left: auto !important;
}
.learndash-wrapper .ld-focus .ld-focus-header .ld-progress-wrap {
    width: 40%;
    margin-left: auto;
}
.learndash-wrapper .ld-focus .ld-focus-header .ld-user-menu {
    flex: 0 0 250px;
}
}
.ld-content-actions {
    border: none !important;
    padding-top: 0px !important;
}
.ld-content-actions:nth-of-type(4) {
    display: none !important;
}
.learndash-wrapper .ld-button:not(.ld-button-reverse):not(.learndash-link-previous-incomplete):not(.ld-button-transparent) {
    background-color: transparent !important;
    color: #27aae1 !important;
	margin: inherit;
}
.learndash-wrapper .ld-button:not(.ld-button-reverse):not(.learndash-link-previous-incomplete):not(.ld-button-transparent):hover {
    background-color: #27aae1 !important;
    color: #fff !important;
}
.learndash-wrapper .learndash_mark_complete_button {
    background-color: transparent !important;
    color: #009e7c !important;
	padding-right: 1.5em;
}
.learndash-wrapper .learndash_mark_complete_button:hover {
    background-color: #009e7c !important;
    color: #fff !important;
}
.learndash-wrapper .sfwd-mark-complete:after {
    display: none !important;
}
.learndash-wrapper .learndash_mark_complete_button[disabled] {
    background-color: transparent !important;
}
.learndash-wrapper .learndash_mark_complete_button[disabled]:hover {
    color: #009e7c !important;
}
